<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_admin.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Panel Administratora</title>
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
</head>
<body>
    <div class="container">
        <a href="{{ url_for('user_page') }}" class="back-button">Wróć do profilu</a>
        <h1>Panel Administratora</h1>

        <h2>Generowanie klucza dostępu</h2>
        <form id="generate-key-form" onsubmit="generateAccessKey(event)">
            <label for="level">Poziom uprawnień (1-10):</label>
            <input type="number" id="level" name="level" min="1" max="10" required>

            <label for="expiration_date">Data ważności (opcjonalne):</label>
            <input type="date" id="expiration_date" name="expiration_date">

            <button type="submit">Generuj klucz</button>
        </form>

        <h2>Aktualne klucze</h2>
        <table>
            <tr>
                <th>Klucz</th>
                <th>Poziom</th>
                <th>Data Wygaśnięcia</th>
                <th>W użyciu</th>
                <th>Utworzone przez</th>
                <th>Akcje</th>
            </tr>
            {% for key in keys %}
                <tr>
                    <td>{{ key[0] }}</td>
                    <td>{{ key[1] }}</td>
                    <td>{% if key[2] == None  %}-{% else %}{{ key[2] }}{% endif %}</td>
                    <td>{% if key[3] == True  %}TAK{% else %}NIE{% endif %}</td>
                    <td>{{ key[4] }}</td>
                    <td><button onclick="deleteKey('{{ key[0] }}')">Usuń</button></td>
                </tr>
            {% endfor %}
        </table>

        <h2>Użytkownicy korzystający z kluczy</h2>
        <input type="text" id="temp-key-user-search" placeholder="Szukaj użytkownika..." onkeyup="searchTable('temp-key-user-search', 'temp-key-user-table')">
        <table id="temp-key-user-table">
            <tr>
                <th>Nazwa Użytkownika</th>
                <th>ID</th>
                <th>Klucz</th>
                <th>Poziom uprawnień</th>
                <th>Zmień klucz</th>
                <th>Zatwierdź</th>
            </tr>
            {% for user in users_with_temp_keys %}
                <tr>
                    <td>{{ user[0] }}</td>
                    <td>{{ user[1] }}</td>
                    <td>{{ user[2] }}</td>
                    <td>{{ user[3] }}</td>
                    <td>
                        <select id="new-key-{{ user[1] }}">
                            {% for key in available_keys %}
                                <option value="{{ key[0] }}">{{ key[0] }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td><button onclick="updateUserKey({{ user[1] }})">Zatwierdź</button></td>
                </tr>
            {% endfor %}
        </table>

        <h2>Lista zalogowanych użytkowników</h2>
        <input type="text" id="logged-in-user-search" placeholder="Szukaj użytkownika..." onkeyup="searchTable('logged-in-user-search', 'logged-in-user-table')">
        <table id="logged-in-user-table">
            <tr>
                <th>Nazwa Użytkownika</th>
                <th>Ostatnie logowanie</th>
            </tr>
            {% for user in logged_in_users %}
                <tr>
                    <td>{{ user[0] }}</td>
                    <td>{{ user[1] }}</td>
                </tr>
            {% endfor %}
        </table>

        <h2>Resetowanie hasła</h2>
        <input type="text" id="reset-password-user-search" placeholder="Szukaj użytkownika..." onkeyup="searchTable('reset-password-user-search', 'reset-password-user-table')">
        <table id="reset-password-user-table">
            <tr>
                <th>ID</th>
                <th>Nazwa Użytkownika</th>
                <th>Nowe Hasło</th>
                <th>Reset</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user[0] }}</td>
                    <td>{{ user[1] }}</td>
                    <td><input type="password" id="new-password-{{ user[0] }}"></td>
                    <td><button onclick="resetPassword({{ user[0] }})">Resetuj</button></td>
                </tr>
            {% endfor %}
        </table>
    </div>