<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Genealogia</title>
    <script>
        async function liveSearch() {
            let query = document.getElementById('search').value;
            if (query.length > 0) {
                const response = await fetch(`/search?query=${query}`);
                const data = await response.json();
                let resultsContainer = document.getElementById('results-container');
                resultsContainer.innerHTML = ''; // Clear previous results
                if (data.results.length > 0) {
                    let resultsList = document.createElement('ul');
                    data.results.forEach(result => {
                        let listItem = document.createElement('li');
                        let link = document.createElement('a');
                        link.href = `/person/${result[0]}`;
                        link.textContent = `${result[1]} ${result[2]} (ur. ${result[3]})`;
                        listItem.appendChild(link);
                        resultsList.appendChild(listItem);
                    });
                    resultsContainer.appendChild(resultsList);
                }
            } else {
                document.getElementById('results-container').innerHTML = ''; // Clear results if query is empty
            }
        }
    </script>
</head>
<body>
    <h1>Wyszukiwanie osób</h1>
    <form action="{{ url_for('search') }}" method="post">
        <input type="text" id="search" name="name" placeholder="Wpisz imię lub nazwisko" onkeyup="liveSearch()" required>
        <button type="submit">Szukaj</button>
    </form>

    <div id="results-container">
        {% if results %}
            <h2>Wyniki wyszukiwania</h2>
            <ul>
                {% for result in results %}
                    <li>
                        <a href="{{ url_for('person', person_id=result[0]) }}">
                            {{ result[1] }} {{ result[2] }} (ur. {{ result[3] }})
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</body>
</html>
