<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_add_person.css') }}?v=20240713">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Modyfikuj Dane Osoby</title>
</head>
<body>
<div class="container">
    <h1>Modyfikuj Dane Osoby</h1>
    <form id="form" action="{{ url_for('modify_person_data', person_id=person.id) }}" method="post"
          enctype="multipart/form-data">
        <label for="imie">Imię:</label>
        <input type="text" id="imie" name="imie" value="{{ person.imie }}" required>

        <label for="nazwisko">Nazwisko:</label>
        <input type="text" id="nazwisko" name="nazwisko" value="{{ person.nazwisko }}" required>

        <label for="plec">Płeć:</label>
        <select id="plec" name="plec" required>
            <option value="M" {% if person.plec == "M" %}selected{% endif %}>Mężczyzna</option>
            <option value="F" {% if person.plec == "F" %}selected{% endif %}>Kobieta</option>
        </select>


        <label for="data_urodzenia">Data urodzenia:</label>
        <input type="date" id="data_urodzenia" name="data_urodzenia" value="{{ person.data_urodzenia }}" required>

        <label for="data_slubu">Data ślubu:</label>
        <input type="date" id="data_slubu" name="data_slubu" value="{{ person.data_slubu }}">

        <label for="data_smierci">Data śmierci:</label>
        <input type="date" id="data_smierci" name="data_smierci" value="{{ person.data_smierci }}">

        <label for="zdjecie">Zdjęcie (lokalne):</label>
        <input type="file" id="zdjecie" name="zdjecie" accept="image/*">

        <div id="error-message" style="color: red;"></div>

        <button type="submit">Modyfikuj Dane</button>
    </form>

    <a href="{{ url_for('person', person_id=person.id) }}" class="back-button">Wróć do profilu</a>
</div>

<script>
    document.getElementById('form').addEventListener('submit', function (event) {
        var fileInput = document.getElementById('zdjecie');
        var errorMessage = document.getElementById('error-message');

        if (fileInput.files.length > 0) {
            var file = fileInput.files[0];
            var fileType = file.type;

            var validImageTypes = ['image/gif', 'image/jpeg', 'image/png', 'image/webp'];

            if (!validImageTypes.includes(fileType)) {
                errorMessage.textContent = 'Niewłaściwy format pliku. Proszę wybrać plik graficzny.';
                event.preventDefault(); // Stop the form from submitting
            } else {
                errorMessage.textContent = ''; // Clear any previous error message
            }
        }
    });
</script>
</body>
</html>
