<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_user_page.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>{{ username }}</title>
</head>
<body>
<div class="container">
    <h1>{{ username }}</h1>

    <div class="options">
        <h2>Zmiana hasła</h2>
        <button class="change-password-button" id="change-password-btn">Zmień hasło</button>
        <div id="password-fields" style="display: none;">
            <form id="change-password-form" action="{{ url_for('change_password') }}" method="post">
                <input type="password" id="current_password" name="current_password" placeholder="Aktualne hasło" required>
                <input type="password" id="new_password" name="new_password" placeholder="Nowe hasło" required>
                <button type="submit">Zmień hasło</button>
            </form>
        </div>
        <div id="message-container">
            <!-- Tutaj będzie wyświetlany komunikat o zmianie hasła -->
        </div>
        <button class="logout-button" onclick="window.location.href='{{ url_for('logout') }}'">Wyloguj</button>
        {% if user_permission_level[0] >= 5 %}
            <br>
            <button class="moderator-button" onclick="window.location.href='{{ url_for('moderator_panel') }}'">Panel Moderatora</button>
        {% endif %}
        {% if user_permission_level[0] >= 10 %}
            <br>
            <button class="admin-button" onclick="window.location.href='{{ url_for('admin') }}'">Panel Administratora</button>
        {% endif %}
    </div>

    <h2>Wyszukaj osobę</h2>
    <div class="search-container">
        <input type="text" id="search" placeholder="Szukaj:" onkeyup="liveSearch()">
        <div id="results-container"></div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/password_change.js') }}"></script>
<script src="{{ url_for('static', filename='js/search.js') }}"></script>

</body>
</html>
